<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UTA Parking System"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".com.cse5324.team6.user.UserProfileScreen1"></activity>
        <activity
            android:name=".com.cse5324.team6.admin.AdminEditUserProfile"
            android:label="Edit Profile"
            android:parentActivityName=".com.cse5324.team6.admin.AdminSearchUser">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.admin_search_user" />
        </activity>
        <activity android:name=".com.cse5324.team6.manager.SpotDetailsSearchScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".com.cse5324.team6.user.ViewPastReservationsScreen"
            android:configChanges="orientation"
            android:exported="true"
            android:label="Past Reservations"
            android:parentActivityName=".com.cse5324.team6.user.UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <!--activity
            android:name=".com.cse5324.team6.manager.SpotDetailsSearchScreen"
            android:label="Spot Details"
            android:parentActivityName=".com.cse5324.team6.manager.ManagerHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.mgr_hs" />
        </activity!-->
        <activity
            android:name=".com.cse5324.team6.user.ModifyReservationScreen"
            android:label="Modify Reservation"
            android:parentActivityName=".com.cse5324.team6.user.ViewReservationScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.user.ViewReservationScreen"
            android:label="View Reservation"
            android:parentActivityName=".com.cse5324.team6.user.UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.user.ViewViolationScreen"
            android:configChanges="orientation"
            android:label="Violations"
            android:parentActivityName=".com.cse5324.team6.user.UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.user.ViewNoShowScreen"
            android:configChanges="orientation"
            android:label="No-Shows"
            android:parentActivityName=".com.cse5324.team6.user.UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.admin.AdminUpdateProfile"
            android:label="Update Profile"
            android:parentActivityName=".com.cse5324.team6.admin.AdminViewProfile">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.admin_view_profile" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.admin.AdminViewProfile"
            android:label="Profile Screen"
            android:parentActivityName=".com.cse5324.team6.admin.AdminHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.admin_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.manager.ManagerUpdateProfile"
            android:label="Update Profile"
            android:parentActivityName=".com.cse5324.team6.manager.ManagerViewProfile">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.manager_view_profile" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.manager.ManagerViewProfile"
            android:label="Profile Screen"
            android:parentActivityName=".com.cse5324.team6.manager.ManagerHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.mgr_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.util.ForgotPassword"
            android:label="Forgot Password"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.MainActivity" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.admin.AdminSearchUser"
            android:label="Search User"
            android:parentActivityName=".com.cse5324.team6.admin.AdminHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.admin_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.admin.AdminRegistrationScreen"
            android:label="Admin Registration"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.MainActivity" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.manager.ManagerRegistrationScreen"
            android:label="Manager Registration"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.MainActivity" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.util.UserRegistrationScreen"
            android:exported="true"
            android:label="User Registration"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.MainActivity" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.manager.ManagerUserSearch"
            android:label="Search User"
            android:parentActivityName=".com.cse5324.team6.manager.ManagerHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.mgr_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.manager.AvailabilityScreen"
            android:label="Spot Availability"
            android:parentActivityName=".com.cse5324.team6.manager.ManagerHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.mgr_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.user.MakeReservationScreen"
            android:label="Make Reservation"
            android:parentActivityName=".com.cse5324.team6.user.UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.manager.UserEditProfileScreen"
            android:label="Update Profile"
            android:parentActivityName=".com.cse5324.team6.user.UserProfileScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_prof_screen" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.user.UserProfileScreen"
            android:label="Profile screen"
            android:parentActivityName=".com.cse5324.team6.user.UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".com.cse5324.team6.admin.AdminHomeScreen"
            android:label="Admin Home Screen" />
        <activity
            android:name=".com.cse5324.team6.manager.ManagerHomeScreen"
            android:label="Manager Home Screen" />
        <activity
            android:name=".com.cse5324.team6.user.UserHomeScreen"
            android:label="User Home Screen" />
        <activity android:name=".MainActivity">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter!-->
        </activity>
    </application>

</manifest>