<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UTA Parking System"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserProfileScreen1"></activity>
        <activity
            android:name=".AdminEditUserProfile"
            android:label="Edit Profile"
            android:parentActivityName=".AdminSearchUser">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.admin_search_user" />
        </activity>
        <activity
            android:name=".ViewPastReservationsScreen"
            android:configChanges="orientation"
            android:exported="true"
            android:label="Past Reservations"
            android:parentActivityName=".UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".SpotDetailsSearchScreen"
            android:label="Spot Details"
            android:parentActivityName=".ManagerHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.mgr_hs" />
        </activity>
        <activity
            android:name=".ModifyReservationScreen"
            android:label="Modify Reservation"
            android:parentActivityName=".ViewReservationScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".ViewReservationScreen"
            android:label="View Reservation"
            android:parentActivityName=".UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".ViewViolationScreen"
            android:configChanges="orientation"
            android:label="Violations"
            android:parentActivityName=".UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".ViewNoShowScreen"
            android:configChanges="orientation"
            android:label="No-Shows"
            android:parentActivityName=".UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".AdminUpdateProfile"
            android:label="Update Profile"
            android:parentActivityName=".AdminViewProfile">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.admin_view_profile" />
        </activity>
        <activity
            android:name=".AdminViewProfile"
            android:label="Profile Screen"
            android:parentActivityName=".AdminHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.admin_hs" />
        </activity>
        <activity
            android:name=".ManagerUpdateProfile"
            android:label="Update Profile"
            android:parentActivityName=".ManagerViewProfile">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.manager_view_profile" />
        </activity>
        <activity
            android:name=".ManagerViewProfile"
            android:label="Profile Screen"
            android:parentActivityName=".ManagerHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.mgr_hs" />
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:label="Forgot Password"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.MainActivity" />
        </activity>
        <activity
            android:name=".AdminSearchUser"
            android:label="Search User"
            android:parentActivityName=".AdminHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.admin_hs" />
        </activity>
        <activity
            android:name=".AdminRegistrationScreen"
            android:label="Admin Registration"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.MainActivity" />
        </activity>
        <activity
            android:name=".ManagerRegistrationScreen"
            android:label="Manager Registration"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.MainActivity" />
        </activity>
        <activity
            android:name=".UserRegistrationScreen"
            android:exported="true"
            android:label="User Registration"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.MainActivity" />
        </activity>
        <activity
            android:name=".ManagerUserSearch"
            android:label="Search User"
            android:parentActivityName=".ManagerHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.mgr_hs" />
        </activity>
        <activity
            android:name=".AvailabilityScreen"
            android:label="Spot Availability"
            android:parentActivityName=".ManagerHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.mgr_hs" />
        </activity>
        <activity
            android:name=".MakeReservationScreen"
            android:label="Make Reservation"
            android:parentActivityName=".UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".UserEditProfileScreen"
            android:label="Update Profile"
            android:parentActivityName=".UserProfileScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_prof_screen" />
        </activity>
        <activity
            android:name=".UserProfileScreen"
            android:label="Profile screen"
            android:parentActivityName=".UserHomeScreen">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.user_hs" />
        </activity>
        <activity
            android:name=".AdminHomeScreen"
            android:label="Admin Home Screen" />
        <activity
            android:name=".ManagerHomeScreen"
            android:label="Manager Home Screen" />
        <activity
            android:name=".UserHomeScreen"
            android:label="User Home Screen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>